@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
  themes: all;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke-width: 2px;
  }

  .font-outline-secondary {
    -webkit-text-stroke-color: var(--color-secondary);
  }
}
